BASE_URL=http://localhost:5000
APP=kiosk
OFFICE_MODE=mixed
K6_PROMETHEUS_RW_SERVER_URL=http://victoriametrics.example.com/api/v1/write
K6_PROMETHEUS_RW_USERNAME=USERNAME
K6_PROMETHEUS_RW_PASSWORD=PASSWORD
K6_PROMETHEUS_RW_TREND_STATS=p(95),p(99),min,max
K6_PROMETHEUS_RW_STALE_MARKERS=true
K6_TESTID=local-dev
FIELD_SCENARIO_MODE=simple

